* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Chakra Petch', sans-serif;
}

/* HOME */

/* SECTION 1: HEADER */

/* Elements */

body {
    background-color: #110038;
}

nav {
    display: flex;
    height: 17vh;
}

/* Classes */

.titleBars {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    color: #FFFFFF;
}

.pinkButtons {
    position: absolute;
    margin-top: 11vh;
    width: 10.5vw;
    height: 5vh;
    font-size: 1.2vw;
    color: #FFFF;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.pinkButtons:hover {
    background: rgb(208, 45, 223); 
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.pinkButtons:active {
    background: rgb(208, 45, 223); 
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.dropdownContent { /* dropdown */
    display: none;
    position: absolute;
    z-index: 2;
    overflow: auto;
    width: 13.2vw;
    margin-top: 16vh; 
    background:#B4B4B4;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; 
    border: 1px solid gray;  
}

.show {display: block;} /* dropdown */
  
.sailorButtons { /* dropdown */
    cursor: pointer;
    width: 11vw;
    margin: 1.5vh;
    padding: 1.3vh 1vw;
    font-size: 1.2vw;
    text-align: left;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;   
}

.sailorButtons:active { /* dropdown */
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

#span4 { border-bottom: 1px solid #FFFF; }

 
/* Id */

#siteDescriptionBar { 
    width: inherit;
    margin: 0.2vh 0.1vw;
    padding: 0.5vh 0.5vw;
    font-size: 1vw;
    box-shadow: 0 1px 0 0 #110038;  
}

#logo {
    width: 7.6vw;
    height: 8.5vh;
    margin: 8vh 0 0 8vw;
    cursor: pointer;
    position: absolute;
}

#arrowBackHome {
    width: inherit;
    height: inherit;
    display: none;
}

#crearGuifosButton { margin-left: 58vw; }

#dropdown {  /* dropdown */
    margin-left: 70vw;
    display: flex;
    position: absolute;
}

#dropdown:hover .pinkButtons {  /* dropdown */
    background: rgb(208, 45, 223);
    outline: 1px dotted #110038;
    outline-offset: -4px;
}
  
#arrowButton {  /* dropdown */
    width: 2.8vw;
    margin-left: 10.5vw;
}

#downArrow {
<<<<<<< HEAD
    width: 1.5vw;
    height: 3.5vh;
    margin-top: 0.5vh;
=======
    width: 1.7vw;
    height: 3.5vh;
    margin-top: 0.3vh;
>>>>>>> 0a41b342fbe724cea9505f4cc8f13a5359556e80
}

#dropdownList { /* dropdown */
    list-style-type: none;
}

#sailorDayButton {  /* dropdown */
    margin-bottom: 0vh;
    background: #CCCCCC;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

#span3 { border-bottom: 1px solid #FFFF; }

#sailorNightButton {
    background: #2E32FB;
    color: #FFFF;
}

#misGuifosButton {
    position: absolute;
    width: 7vw;
    margin-left: 84.5vw;
    color: #FFFF;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#misGuifosButton:hover {
    outline: 1px dotted #FFFF;
    outline-offset: -4px;
}

#misGuifosButton:active {
    color: rgba(255,255,255,0.6);
} 

#misGuifosButton:active #span4 {
    border-bottom: 1px solid rgba(255,255,255,0.6);
} 



/* SECTION 2: SEARCH */

/* Classes */

.grayContainer {
    height: 20vh;
    width: 83.5vw;
    margin-left: 7.8vw;
    background:#B4B4B4;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: absolute;
    display: flex;
}

.whiteBars {
    width: 81.5vw;
    font-size: 1.2vw;
    padding: 1vh 0.7vw;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.blueButton {
    height: 4.5vh;
    padding: 1vh;
    margin: 0 1vw 2vh 0;
    font-size: 1vw;
    color: #FFFF;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    cursor: pointer;
    flex: auto;
    max-width: 9vw;
}

.grayButtons {
    cursor: pointer;
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.grayButtons:hover{
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.searchButtonDarkActive {
    width: 8.5vw;
    height: 6.7vh;
    padding-left: 1.8vh;
    margin: 9vh 0 0 71.7vw;
}

.searchButtonDarkActive:active {
    width: 8.5vw;
    height: 6.7vh;
    padding-left: 1.8vh;
    margin: 9vh 0 0 71.7vw;
    background: rgb(208, 45, 223); ; 
}

/* Id */

#searchSection {
    display: flex;
    position: absolute;
    width: 100%;
    height: 20vh;
    margin: 5vh 0 20vh 0;
}

#titleBarSearchSection {
    position: absolute;
    width: 82vw;
    padding: 0.7vh 0.5vw;
    margin: 0.3vh 0 0 0.5vh;
    font-weight: bold;
    font-size: 1.2vw;
}

#searchBar {
    width: 68vw;
    height: 6.5vh;
    margin: 8vh 0 0 1.5vw;
}

.searchButton {
    width: 8vw;
    height: 6.7vh;
    padding-left: 2.7vw;
    margin: 9vh 0 0 71.5vw;
    font-size: 1.2vw;
    text-align: left;
    color: rgba(143,143,143,1);
    border: 1px solid #808080;
    cursor: pointer;
    position: absolute; 
    background:  #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.searchButton:active {
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    outline: 1px dotted #110038;
    outline-offset: -4px;
    color:#FFFF;
    background: rgb(208, 45, 223); 
}

#lens {
    width: 1.3vw;
    height: 1.3vw;
    margin: 0.2vh 0.4vw 0 -1.8vw;
    position: absolute; 
}

#divSearchSuggestions {
    width: 81.8vw;
    height: auto;
    padding: 3vh 0 0 1.7vw;
    margin: 20vh 0 0 0;
    z-index: 4;
    flex-direction: column;
    display: none;
}

#divSearchSuggestions > div {
    width: 79vw;
    padding: 0.7vh 0 0.7vh 0.7vw;
    margin-bottom: 3vh; 
}


#blueButtonsContainer {
    width: 83.5vw;
    margin: 28vh 0 10vh 7.7vw;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    height: 5vh;
}

#searchResultsContainer {
    width: 85vw;
    margin: 8vh 0 10vh 7vw;
    background-color: #110038;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}



/* SECTION 3: SUGGESTIONS */

/* Classes */

.suggestionGif {
    width: 96%;
    height: 96%;
    margin: 0.8vh 0 0 0.4vw;
}

.suggestionGifContainer {
    width: 20vw;
    height: 41vh;
    margin-right: 0.7vw;
    display: flex;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.suggestionGifContainer:hover {
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.suggestionGifBar {
    width: 18.75vw;
    height: 2.8vh;
    padding: 1vh 0 1vh 0.5vw;
    margin: 0.6vh 0 0 0.4vw;
    font-weight: bold;
    font-size: 1.2vw;
    z-index: 1;
    position: absolute;
}

.buttonVerMas {
    margin: 34vh 0 0 1vw;
    position: absolute;
    width: 14vh;
    height: 5vh;
}

.buttonVerMas:hover {
    background: rgb(10, 75, 194);
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.closeButton {
    width: 1vw;
    height: 2vh;
    margin: 2vh 0 0 18vw;
    z-index: 3;
    cursor: pointer;
    position: absolute;
    background: url("../images/button_close_img.svg") center center/cover no-repeat #cccccc;
}

/* Id */

#suggestionsSection {
    margin-top: 3vh;
}

#suggestionsBar {
    margin: 0 0 1vw 8vw;
}

#suggestionsContainer {
    width: 83.8vw;
    margin-left: 7.8vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}





/* SECTION 3: TRENDINGS */

/* Classes */

.trendingGifs {
    height: 97%;
    width: 98%;
    margin: 0.3vh 0 0 0.15vw;
}

.trendingGifs:hover {
    border: 1.3px dotted #110038;
}

.trendingGifContainerSmall {
    flex: auto;
    height: 43vh;
    margin: 0.7vw;
    width: 20vw;
}

.trendingGifContainerSmall:hover {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.trendingGifContainerBig {
    height: 43vh;
    margin: 0.7vw;
    width: 35vw;
}

.trendingGifContainerBig:hover{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

/* Id */

#trendingsSection {
    margin-top: 10vh;
    }

#trendingsContainer {
    width: 86%;
    margin: 0 0 10vh 7.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#trendingsBar {
    margin: 0 0 1vw 8vw;
}




/* UPLOAD */

/* INTRO */

#arrowBack {
    width: inherit;
    height: inherit;
}

a {
    width: 2vw;
    height: 4vh;
    margin: 9.7vh 0 0 5vw;
    position: absolute;
    cursor: pointer;
}

#crearGuifosGrayContainer {
    width: 53vw;
    height: 65vh;
    margin: 20vh 0 0 24vw;
}

#uploadTitleBarIntro {
<<<<<<< HEAD
    width: 52.4vw;
=======
    width: 52.2vw;
>>>>>>> 0a41b342fbe724cea9505f4cc8f13a5359556e80
    padding: 0.5vh 0 0.5vh 0.3vw;
    margin: 0.5vh 0 0 0.2vw;
    font-weight: bold;
    font-size: 1.2vw;
    z-index: 1;
    position: absolute;
}

#uploadTitleBar {
    width: 52.2vw;
    padding: 0.5vh 0 0.5vh 0.3vw;
    margin: 0.5vh 0 0 0.2vw;
    font-weight: bold;
    font-size: 1.2vw;
    z-index: 1;
    position: absolute;
}

#closeUploadButton {
    margin: 1.6vh 51vw;
}

#window {
    width: 2.5vw;    
    height: 5vh;
    z-index: 1;
    top: 10vh;
    left: 2.2vw;
    position: absolute;
}

h1 {
    position: absolute;
    margin: 10vh 0 0 6vw;
    font-size: 1.2vw;
}

p {
    padding: 16vh 0 0 6vw;
    font-size: 1.1vw;
    line-height: 2;
    position: absolute;
}

.uploadButtons {
    display: inline-block;
}

#cancelarButton {
    margin: 55vh 0 0 25vw;
    background-color: #FFF4FD;
    position: absolute;
    color: black;
}

#comenzarButton {
    position: absolute;
    margin: 55vh 0 0 37vw;
}



/* VIDEO RECORDING TRY */

#videoContainer {
    width: 53vw;
    height: 72vh;
    margin: 19vh 0 15vh 23vw;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    position: absolute;
    display: none;
}

#video {
    width: 97%;
    height: 77%;
    margin: 6vh 0 0 0.8vw;
    object-fit: cover;
    display: inline-block;
    position: absolute;
}

#cameraButton {
    width: 2.6vw;
    height: 5vh;
    margin: 64vh 0 0 38.5vw;
    background: url(../images/camera_dark.svg) center no-repeat #EE3EFE;
    position: absolute;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

<<<<<<< HEAD
#capturarButton:hover {
    background: #EE3EFE;
    outline-offset: none;
    outline: none;
=======

#cameraIcon { 
    width: 1.7vw;
    height: 2.7vh;
    border: none;
    margin-top: 0.5vh;
    background: url(../images/camera_dark.svg) center center/cover no-repeat;
>>>>>>> 0a41b342fbe724cea9505f4cc8f13a5359556e80
}

#capturarButton {
    margin: 64vh 0 0 41vw;
}


/* RECORDING VIDEO */

#listoButton {
    width: 10.5vw;
    height: 5vh;
    margin: 64vh 0 0 41.3vw;
    font-size: 1.2vw;
    color: #FFFF;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    display: none;
    position: absolute;
    cursor: pointer;
}


#recordingButton {
    width: 3vw;
    margin: 64vh 0 0 38.4vw;
    background: #FF6161;
    color: #FFFF;
    display: none;
}


#recordingIcon {
    width: 1.3vw;
    height: 3vh;
    margin: -1.5vh 0 0 -0.7vw;
    position: absolute;
    z-index: 2;
    
}

/* GIF PREVIEW */

#gifPreview {
    width: 97%;
    height: 77%;;
    margin: 6vh 0 0 0.8vw;
    object-fit: cover;
    display: inline-block;
    position: absolute;
}

#subirGuifoButton {
    margin: 64vh 0 0 41.5vw;
    display: none;
}


#repetirCapturaButton {
    margin: 64vh 30vw;
    display: none;
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

#repetirCapturaButton:hover {
    outline: 1px dotted #FFFF;
    outline-offset: -4px;
}

/* UPLOADING GIF */

#uploadingGif {
    width: 51vw;
    height: 55vh;
    margin: 6vh 0 0 1vw;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#cancelarUploadButton {
    margin: 64vh 0 0 41.6vw;
    background: #FFF4FD;
    display: none;
    color: black;
}

#globeImg {
    width: 3vw;
    height: 8vh;
    margin: 17vh 0 0 24vw;
    display: none;
    position: absolute;
}

#h1UploadingGif {
    margin: 27vh 0 0 18vw;
    font-weight: bold;
    font-size: 1.2vw;
    color: #110038;
    position: absolute;
    display: none;
}

#pUploadingGif {
    margin: 18vh 0 0 8vw;
    font-size: 1.2vw;
    color: rgba(17,0,56,0.64);
    position: absolute;
    display: none;
}

#span2 {
    text-decoration: line-through;
}

/* SUCCESS CAPTURE */

#copiarEnlaceGuifoButton {
   width: 16vw;
   margin: 18vh 0 0 33vw;
   background:#EE3EFE;
   color: #FFFF;
   display: none; 
}

#descargarGuifoButton {
   width: 16vw;
   margin: 26vh 0 0 33vw;
   background:#EE3EFE;
   color: #FFFF;
   display: none;
}

#listoCargaGifButton {
    margin: 53vh 0 0 38.5vw;
    display: none;
}

#pGuifoSubido {
    display: none;
    position: absolute;
    font-weight: bold;
    margin-left: 27vw;
    margin-top: -4vh;
}

#finalGifDeposit {
    width: 99.3%;
    height: 99%;
    object-fit: cover;
    margin-top: 0.2vh;
    margin-left: 0.1vw;
    display: none;
}  

#divFinalGifDeposit {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 29vw;
    height: 40vh;
    margin-top: 8vh;
    margin-left: 2vw;
    position: absolute;
    display: none;
}

#toDownload{
    margin: 0;
}



/* MIS GUIFOS */

#misGuifosBar {
    margin: 94vh 0 4vh 7.5vw; 
}

#misGuifosBarInSection {
    margin: 10vh 0 4vh 7.5vw;
}

#misGuifosContainer {
    width: 94vw;
    margin: 0 0 8vh 7vw;
    display: flex;
    flex-flow: row wrap
}

.gifShowedInMisGuifosContainer {
    width: 20vw;
    margin: 0.5vw;
    height: 36vh;
}