* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: #f8f1f1;
}

.decorationBars {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    color: #FFFFFF;
}
    
#siteDescriptionBar {
    box-shadow: 0 1px 0 0 #110038;
    font-size: 1vw;
    margin: 0.2vh 0.1vw;
    padding: 0.5vh 0.5vw;
    width: inherit;
    height: 100%; 
}

#logo {
    width: 7vw;
    height: 4vw;
    float: left;
    margin-top: 3.5vw;
    margin-left: 8vw;
}

.button {
    font-size: 1.2vw;
    color: #110038;
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    height: 6vh;
    width: 10.5vw;
    float: right;
    margin: 4vw 0 2vw 1vw;
}

#themesAreaContainer:hover .pop {
    border: 3px solid brown;
}

.themesList {
    display: none;
    position: relative;
    z-index: 1;
    top: 2.8vw;
    width: 13vw;
    height: 9vw;
    border: 1px solid red;
    left: -10.48vw;
    background-color: gray;
}

.themesList .button {
  display: block;
  width: 11vw;
  border: 1px solid red;
  position: relative;
  top: -2vw;
  left: -1vw;
  
}

#shit {
    width: 10vw;
    height: 10vw;
    border: 1px solid red;
}

.show {
    display: block;
}

#themesContainer {
    background-color: #E6E6E6;
}

#themes {
    width: 2.7vw;
    height: 2.7vw;
    float:right;
    margin-top: 4vw;
}

#arrowButton {
    width: 2.9vw;
    height: 2.9vw;
}

#themes .button {
    margin: 0;
    padding: 0;
}

#themesContainerDiv {
    display: none;
}

#misGuifosButton {
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 7vw;
    margin-right: 10vw;
    margin-left: 0.3vw;
}


#search {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 83vw;
    height: 4vw;
    margin: 10vw 8vw 3vw 8vw;
}

#decorationBarSearch {
    font-weight: bold;
}

#searchBar {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 70vw;
    height: 3vw;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    padding-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
}


#searchButton {
    font-family: 'Chakra Petch', sans-serif;
    color: #B4B4B4;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    padding-right: 1vh;
    margin: 0;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    width: 6.7vw;
    height: 2.3vw;
}

#lupa {
    width:1vw;
    height: 1vw;
    margin: 0;
    padding-left: 1.3vh;
    padding-top: 0.7vh;
    
    
}









.gifStyle {
    width: inherit;
    height: inherit;
    margin: 0;
}

#suggestionsContainer {
    margin-top: 0;
    width: 82vw;
    margin-left: 8vw;
    background-color: #f8f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.contenedorImgBarrita {
    width: 40vh;
    height: 43vh;
    margin-right: 0;
    margin-bottom: 4vw;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#suggestionsBar {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 81vw;
    height: 2.2vw;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    padding-left: 1vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-left: 8vw;
}

.barrita {
    width: inherit;
    height: 2vw;
    background-color: pink;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}


.buttonVerMas {
    width: 6vw;
    height: 2vw;
    position: relative;
    left: -8.5vw;
    top: -2.7vw;
    z-index: 1;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.icon {
    width: 1vw;
    height: 1vw;
    background-color: gray;
    position: relative;
    left: 8.5vw;
    top: -23.3vw;
    z-index: 3;
}

#trendingsContainer {
    margin-top: 0;
    width: 82vw;
    margin-left: 8vw;
    background-color: #f8f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#searchResultsContainer {
    margin-top: 2vw;
    width: 82vw;
    margin-left: 8vw;
    background-color: #f8f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



#trendingsBar {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 81vw;
    height: 2.2vw;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    padding-left: 1vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-left: 8vw;
}